<!DOCTYPE html>
<html>
  <head>
  	<title>Home</title>
  	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
  </head>
  <body>
  	<header>
  		<div class="container">
        <div id="brandname"><b>Tweetenator</b>🤖 | <a href="{{url_for('tweet')}}">Single Tweet Inference</a> | <a href="https://github.com/novarac23/tweetanator">Github</a></div>
  	  </div>
  	</header>
    {% if not session.get('twitter_oauth_token') %}
      <div>
        <p>Please log in to twitter so you can query it and get a sentiment
          analysis breakdown!</p>
      </div>
      <div class="ml-container">
        <form action="{{url_for('twitter.login')}}">
          <input type="submit" value="Log In To Twitter" />
        </form>
      </div>
    {% else %}
      <div>
        <p>Hi {{session['twitter_oauth_token'].get('screen_name')}} 👋</p>
        <p>Query twitter and get a sentiment analysis breakdown!</p>
      </div>
      <div class="ml-container">
        <form action="{{url_for('scrape')}}" method="POST">
          <input name="message" style="border:2px solid black"></input> <br />
          <input type="submit" class="btn-info" value="Query Twitter">
        </form>
      </div>
    {% endif %}
    <div>
      <p>A few notes about this project:</p>
      <ul>
        <li>Model that's determining the sentiment is an LSTM network</li>
        <li>Dataset that the model was trained on can be found here:
          http://help.sentiment140.com/for-students</li>
        <li>It takes a bit of time to query twitter (~15-30 seconds), parse all of that through a
          model and a generate a graph</li>
        <li>Twitter's API has rate limits so if it errors out it's likely because of that</li>
      </ul>
    </div>
  </body>
</html>
